h1{
	color: blue;
	font-size: 80px;
}
img{
	width: 1024px;
	height: 576px;
	border: solid white;
	border-radius: 15px 45px 175px 82px;
}
body{background-color:black ;
}
p{
	color: blue;
	font-size: 40px;
}
a{
	font-size: 60px;
}
iframe{
	width: 600px;
	height: 600px;
	border: solid white;
	border-radius: 146px;
}
li{ color: blue;
}